<launch>
  <arg name="move_base_include" default="$(find fetch_navigation)/launch/include/move_base.launch.xml" />
<!-- move the robot -->
  <!-- set topics -->
  <arg name="scan_topic" default="base_scan" />
  <arg name="map_topic" default="map" />
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="use_keepout" default="false" />

  <include file="$(arg move_base_include)" >
    <arg name="name" value="fetch" />
    <arg if="$(arg use_keepout)" name="map_topic" value="map_topic" />
    <arg unless="$(arg use_keepout)" name="map_topic" value="$(arg map_topic)" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <arg name="odom_topic" value="$(arg odom_topic)" />
  </include>

</launch>